
body {
    font-family: Arial;
}

* {
    box-sizing: border-box;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

    form.example button:hover {
        background: #0b7dda;
    }

form.example::after {
    content: "";
    clear: both;
    display: table;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 220px;
    text-align: center;
    font-family: arial;
    float: left;
    margin: 5px auto;
}


.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

    .card button:hover {
        opacity: 0.7;
    }


.card:hover {
    /*-ms-transform: scale(1.1); /* IE 9 */
   /* -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}


div.pagination-container {
    display: block;
}

.pagination-container  a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

 ul .active a {
    background-color: deepskyblue;
    /*border-radius:5px;*/
    color: white;
    border: 1px solid deepskyblue;
}

    .pagination-container ul a:hover:not(.active) {
        background-color: #EEE;
    }

    .pagination-container ul a:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .pagination-container ul a:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
